.hero-container {
  width: 100%;
  height: 700px;
  display: flex;
}

.hero-left {
  width: 40%;
  background: pink;
}

.hero-middle {
  width: 60%;
  height: 600px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  animation: slide-left 4s 1 ease-in-out;
}

.hero-right {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  animation: slide-right 4s 1 ease-in-out;
}

@keyframes slide-left {
  0% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(600px);
  }
  50% {
    transform: translateX(0px);
  }
}
