.resume-grid {
  display: grid;
  grid-gap: 15px;
  padding: 4vw 9vw 0 9vw;
  margin: 0;
  margin-bottom: 100px;
}

.resume-grid li {
  padding: 15px;
}

.resume-image {
  border-radius: 50%;
  width: 17vw;
  height: 17vw;
  object-fit: cover;
}

.header-second {
  font-weight: 400;
}

.a {
  grid-column: col 1;
  grid-row: row;
  text-align: center;
}

.b {
  grid-column: col 2;
  grid-row: row;
}

@media only screen and (max-width: 700px) {
  .resume-grid {
    display: block;
    padding: 0 9vw 0 9vw;
    margin-bottom: 50px;
  }
  .resume-image {
    width: 40vw;
    height: 40vw;
  }
}
