.hero-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 0.15rem;
}

.work-container {
  margin: 0;
  padding: 0 14vw 5vw 14vw;
}

.work-grid {
  display: grid;
  grid-template-rows: 4vw 20vw 21vw;
  grid-template-columns: 23vw 23vw 23vw;
  grid-gap: 20px;
  text-align: center;
}

.work-wide {
  grid-column: span 3;
}

.box {
  background-color: #EAEDf0;
  background-size: contain;
  background-position: 50%;
}

@media only screen and (max-width: 700px) {
  .copy-container {
    margin-top: 5vw;
    margin-bottom: 14vw;
  }
  .about-container {
    height: 100vw;
    padding-top: 25px;
  }
  .inner-margin {
    width: 65%;
  }
  .work-grid {
    grid-template-rows: 10vw 30vw 30vw 30vw;
    grid-template-columns: 35vw 35vw;
    grid-gap: 10px;
  }
  .work-wide {
    grid-column: span 2;
  }
  .work-container {
    padding: 0 14vw 10vw 14vw;
  }
}
