.hero-container {
  width: 100%;
  min-height: 40vw;
}

.copy-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.work-container ul {
  margin: 0;
  padding: 0 14vw 5vw 14vw;
}

.work-grid {
  display: grid;
  grid-template-rows: 4vw 20vw 21vw;
  grid-template-columns: 23vw 23vw 23vw;
  grid-gap: 20px;
  text-align: center;
}

.work-wide {
  grid-column: span 3;
}

.box {
  background-color: #EAEDf0;
  background-size: contain;
  background-position: 50%;
}

.about-container {
  width: 100%;
  min-height: 40vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EAEDf0;
}

.inner-margin {
  width: 35vw;
}

@media only screen and (max-width: 700px) {
  .tagline {
    font-size: 3.5vw;
  }
  .hero-container {
    height: 90vw;
  }
  .about-container {
    height: 110vw;
  }
  .inner-margin {
    width: 65%;
  }
  .work-grid {
    grid-template-rows: 10vw 30vw 30vw 30vw;
    grid-template-columns: 35vw 35vw;
    grid-gap: 10px;
  }
  .work-wide {
    grid-column: span 2;
  }
  .work-container ul {
    padding: 0 14vw 10vw 14vw;
  }
}
