.hero-container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #313742;
}

.hero-title {
  font-size: 3vw;
  color: white;
  letter-spacing: 2px;
}

.hero-copy {
  font-size: 1.2vw;
  color: white;
}

.hero-line {
  border: 1px solid white;
}

.info-container {
  background: #EAEDf0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.info-header {
  width: 40%;
  text-align: center;
}

.info-copy {
  width: 40%;
  text-align: center;
}

.back-link {
  margin-top: 50px;
}

@media only screen and (max-width: 500px) {
  .info-container {
    height: 250px;
  }
  .info-copy {
    width: 70%;
  }
  .back-link {
    margin-top: 20px;
  }
}
