.contact-container {
  background: #EAEDf0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.contact-header {
  width: 40%;
  text-align: center;
}

.contact-copy {
  width: 40%;
  text-align: center;
}
