.workbox {
  background-color: #EAEDf0;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 20vw;
}

.detail {
  max-width: 19vw;
  max-height: 28vh;
}

@media only screen and (max-width: 700px) {
  .workbox {
    height: 30vw;
  }
  .detail {
    max-width: 28vw;
    max-height: 12vh;
  }
}
