.footer-container {
  background: #313742;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.logo-container {
  width: 7vw;
  display: flex;
  justify-content: space-between;
}

img {
  width: 2.5vw;
  height: 2.5vw;
}

img:hover {
  margin-top: 1px;
  position: relative;
}
