.footer-box {
  background-color: #EAEDf0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
}

.logo-box {
  width: 9vw;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .logo-box {
    width: 22vw;
  }
  .footer-box {
    height: 20vw;
  }
}
