.footer-container {
  background-color: rgb(8,2,42);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vw;;
}

.logo-container {
  width: 11vw;
  display: flex;
  justify-content: space-between;
}

.social-image {
  width: 2.5vw;
  height: 2.5vw;
}

@media only screen and (max-width: 500px) {
  .social-image {
    width: 4vw;
    height: 4vw;
  }
  .logo-container {
    width: 18vw;
  }
}
