.sparetime-container ul {
  margin: 0;
  padding: 0 14vw 0 14vw;
}

.sparetime-grid {
  display: grid;
  grid-template-rows: 14vw 16vw 16vw 16vw;
  grid-gap: 20px;
}

.sparetime-grid li {
  padding: 15px;
  text-align: center;
}

.sparetime-wide {
  grid-column: span 3;
}

.sparetime-wide hr {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.cat {
 background-size: cover;
 background-position: 50% 20%;
}

.donut,
.fries,
.fan,
.dreamcatcher,
.kanken,
.camera,
.bottles,
.camping {
 background-size: cover;
 background-position: 50% 50%;
}

.sparetime-lower {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 60px;
}

iframe {
  width: 72vw;
  height: 40vw;
}

@media only screen and (max-width: 700px) {
  .sparetime-grid {
    grid-template-rows: 32vw 25vw 25vw 25vw 25vw 25vw;
    grid-gap: 10px;
  }
  .sparetime-wide {
    grid-column: span 2;
  }
  iframe {
    width: 77vw;
    height: 38vw;
  }
  .sparetime-lower {
    margin-bottom: 40px;
  }
}
