@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(247, 247, 247);
  font-family: "Lato", sans-serif;
  color: black;
}

.title-secondary {
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.paragraph {
  font-weight: 300;
  font-size: 0.96rem;
}

.tagline {
  font-weight: 300;
  font-style: italic;
  font-size: 0.9rem;
}
