@import url('https://fonts.googleapis.com/css?family=Fira+Sans:900|Lato:300,400');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 8vw;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  margin: 0;
  padding: 0;
}

hr {
  margin: 30px 0 30px 0;
  width: 15%;
}
