.work-container ul {
  margin: 0;
  padding: 5vw 14vw 5vw 14vw;
}

.work-grid {
  display: grid;
  grid-template-rows: 14vw 20vw 21vw;
  grid-template-columns: 23vw 23vw 23vw;
  grid-gap: 20px;
}

.work-grid li {
  padding: 15px;
  text-align: center;
  position: relative;
}

.box {
  background-color: #EAEDf0;
}

.work-wide {
  grid-column: span 3;
}

.work-tall {
  grid-row: span 2;
}

.work-wide hr {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.image-detail {
  width: 19vw;
  background-color: #EAEDf0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 8px 0.2px grey;
}

@media only screen and (max-width: 700px) {
  .work-grid {
    grid-template-rows: 28vw 30vw 30vw 30vw;
    grid-template-columns: 35vw 35vw;
    grid-gap: 10px;
  }
  .work-wide {
    grid-column: span 2;
  }
  .image-detail {
    width: 25vw;
  }
}
