.work-container {
  background: white;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-boxes {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

.work-boxes-left {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.work-boxes-middle {
  background: #EAEDF0;
  width: 32%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-boxes-right {
  width: 32%;
}

.box-project-1 {
  background: #EAEDF0;
  height: 280px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-project-2 {
  background: #EAEDF0;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-project-3 {
  background: #EAEDF0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-image {
  width: 87%;
  box-shadow: 0 0 8px 0.2px grey;
}

.clock-image {
  width: 85%;
  box-shadow: 0 0 8px 0.2px grey;
}

.calendar-image {
  width: 73%;
  box-shadow: 0 0 8px 0.2px grey;
}

.forms-image {
  width: 82%;
  box-shadow: 0 0 8px 0.2px grey;
}

@media only screen and (max-width: 500px) {
  .work-boxes-middle {
    height: 240px;
    width: 49%;
  }
  .box-project-1 {
    height: 140px;
    margin-bottom: 10px;
  }
  .box-project-3 {
    height: 150px;
  }
  .box-project-2 {
    height: 100px;
  }
  .work-boxes {
    width: 85%;
  }
  .work-boxes-left {
    width: 49%;
  }
  .work-boxes-right {
    width: 49%;
    margin-top: 10px;
  }
  .react-image {
    width: 80%;
  }
  .clock-image {
    width: 80%;
  }
  .work-container {
    height: 600px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .work-boxes {
    width: 87%;
  }
  .box-project-1 {
    height: 200px;
    margin-bottom: 12px;
  }
  .box-project-2 {
    height: 150px;
  }
  .work-boxes-middle {
    height: 330px;
  }
  .box-project-3 {
    height: 200px;
  }
  .work-container {
    height: 600px;
  }
}
