.work-container {
  background: white;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work-boxes {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

.work-box-left {
  width: 32%;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.work-box-middle {
  background: #EAEDF0;
  width: 32%;
  height: 450px;
  /*animation: slide-right 3s 1 ease-in-out;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-box-right {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-image {
  width: 87%;
  box-shadow: 0 0 8px 0.2px grey;
}

.react-box {
  background: #EAEDF0;
  height: 300px;
  margin-bottom: 20px;
  /*animation: slide-left 4s 1 ease-in-out;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-image {
  width: 80%;
  box-shadow: 0 0 8px 0.2px grey;
}

.weather-box {
  background: #EAEDF0;
  width: 80%;
  height: 170px;
  /*animation: slide-left 2s 1 ease-in-out;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-image {
  width: 73%;
  box-shadow: 0 0 8px 0.2px grey;
}

.forms-image {
  width: 82%;
  box-shadow: 0 0 8px 0.2px grey;
}

.forms-box {
  background: #EAEDF0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slide-left {
  0% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(600px);
  }
  50% {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 500px) {
  .work-container {
    height: 420px;
  }
  .work-boxes {
    width: 80%;
  }
  .work-box-left {
    height: 200px;
  }
  .work-box-middle {
    height: 170px;
  }
  .work-box-right {
    height: 100px;
  }
  .react-box {
    height: 200px;
  }
  .weather-box {
    height: 100px;
  }
}
